    <div class="container">
        <div class="row" id="par">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                            <strong>Par mums</strong>
                        </h2>
                    <hr>

                    <hr class="visible-xs">
                    <p>Mēs esam kompānija kura jau <strong>paaudžu paaudzēs</strong> nodarbojas ar koka logu, durvju un kublu
                        iztrādi.
                    </p>
                    <p>Pateicoties ražošanas tradīcijām, esam ieguvuši cieņu maskavas priekšpilsētas rajonā starp <strong>labākajiem bandītiem</strong>,
                        kuri nespēj atlauzt ne mūsu logus, ne mūsu durvis</p>
                    <p>Mēs piedāvājam <strong>augstākās kvalitātes</strong> preci ar garantiju līdz 10 dienām. Kā arī inovatīvi
                        risinājumi klientiem, kuri ir spējīgi maksāt.</p>
                </div>
                <div class="container">

                    <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#collapseOne">
                        <span class="glyphicon glyphicon-menu-down"></span>
                    </button>
                    <div id="collapseOne" class="collapse">
                        <p>Šajā kompānijā strādā profesionāļi, kuri dara visu iespējāmo, lai uzlabotu labāko tirgū pieejamo
                            preci. Kompānija jau kopš tās sākumiem darbojas ASV, Eiropā, Dubajā un tagad arī Baltijas valstīs(pagaidām
                            tikai Latvijā). Mēs esam uzņēmums kurš attīstās un pieņemsim Jūsu ziedojumus LV69HABA3216666996
                            (ne mazāk par 10 Eur) tas ir tikai Jūsu drošībai, jo takā mūsu preci pārbauda labākie bandīti
                            Latvijā, mēs uzturam kontaktu ar viņiem un ja Jūs neziedosiet naudu, tad gaidiet <strong>ciemiņus</strong>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>