<button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#logi"><h3>Logi</h3></button>
                            <div id="logi" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Durvis</h4>
      </div>
      <div class="modal-body">
        <hr class="visible-xs">
<table class="table">
    <thead>
      <tr>
        <th>Bilde</th>
        <th>Materiâls</th>
        <th>Izmçrs</th>
        <th>Cena (Eur)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img src="img/door.jpg" class="img-circle"  style="width:50%" alt="Cinque Terre"></td>
        <td>Koks-priede</td>
        <td>200x90</td>
                <td>150</td>
      </tr>
      <tr>
        <td><img src="img/door.jpg" class="img-circle"  style="width:50%" alt="Cinque Terre">
     
</td>
        <td>Koks-ozols</td>
        <td>220x120</td>
                <td>220</td>
      </tr>

    </tbody>
  </table>

                                            <button type="button" class="btn btn-success btn-block" data-toggle="collapse" data-target="#collapseFour">
                        <span class="glyphicon glyphicon-menu-down"></span>
                    </button>
                                        <div id="collapseFour" class="collapse">
<table class="table">
    <thead>
      <tr>
        <th>Bilde</th>
        <th>Materiâls</th>
        <th>Izmçrs</th>
        <th>Cena (Eur)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img src="img/door.jpg" class="img-circle"  style="width:50%" alt="Cinque Terre"></td>
        <td>Koks-priede</td>
        <td>200x90</td>
                <td>150</td>
      </tr>
      <tr>
        <td><img src="img/door.jpg" class="img-circle"  style="width:50%" alt="Cinque Terre">
     
</td>
        <td>Koks-ozols</td>
        <td>220x120</td>
                <td>220</td>
      </tr>

    </tbody>
  </table>
                    </div>
                </div>
               




                      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Close</button>
      </div>
      </div>

    </div>

  </div>
</div>