<div class="container" id="produkti">
        <div class="row">
            <div class="box">
                <a href="">
                    <div class="col-md-2 col-md-offset-2">
                        <div class="thumbnail">
                            <img src="img/sauna_icon.jpg" alt="Generic placeholder thumbnail">
                        </div>

                        <div class="caption text-center">
                            <h3>Durvis</h3>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="col-md-2">
                        <div class="thumbnail">
                            <img src="img/sauna_icon.jpg" alt="Generic placeholder thumbnail">
                        </div>

                        <div class="caption text-center">
                            <h3>Logi</h3>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="col-md-2">
                        <div class="thumbnail">
                            <img src="img/sauna_icon.jpg" alt="Generic placeholder thumbnail">
                        </div>

                        <div class="caption text-center">
                            <h3>Kubli</h3>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="col-md-2">
                        <div class="thumbnail">
                            <img src="img/sauna_icon.jpg" alt="Generic placeholder thumbnail">
                        </div>
                        <div class="caption text-center">
                            <h3>Citi</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>