
<div class="container">
        <div class="row" id="produkti">

            <div class="box">
                <a href="#durvis">
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <img src="img/sauna_icon.jpg" alt="Generic placeholder thumbnail">
                        </div>

                        <div class="caption text-center">
                          <wood-durvis></wood-durvis>
                        </div>
                    </div>
                </a>
                <a href="#logi">
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <img src="img/sauna_icon.jpg" alt="Generic placeholder thumbnail">
                        </div>

                        <div class="caption text-center">
                            
                           <wood-logi></wood-logi>
                        </div>
                    </div>
                </a>
                <a href="#kubli">
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <img src="img/sauna_icon.jpg" alt="Generic placeholder thumbnail">
                        </div>

                        <div class="caption text-center">
                            <wood-kubli></wood-kubli>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <img src="img/sauna_icon.jpg" alt="Generic placeholder thumbnail">
                        </div>
                        <div class="caption text-center">
                            <wood-citi></wood-citi>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>