    <div class="container">
        <div class="row" id="tehno">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Izstrādes tehnoloģijas</strong>
                    </h2>
                      <div class="embed-responsive embed-responsive-16by9 col-xs-12 text-center">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/x4t5jRGt3M0" frameborder="0" allowfullscreen></iframe>
                    </div>
                    
                    <hr>
                    <p>Mūsu kompānija izmanto inovatīvas tehnoloģijas, produktu izstrādē. Mūsu produkti ir ieguvuši vairākas balvas pasaules mēroga
                        konkursos, pateicoties mūsu viedajiem produktiem. Mūsu produktiem pēc to izstrādes nepaliek neizmantoti materiāli, jo viss ko kādreiz nevarēja izmantot atkārtoti
                        tagad var. Apvienojot šos pārpalikušos produktus, tiek uzlaboti iztrādātie produkti.
                    </p>




                </div>
                <div class="container">

                    <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#collapseTwo">
                        <span class="glyphicon glyphicon-menu-down"></span>
                    </button>
                    <div id="collapseTwo" class="collapse">
                        <p>Mēs veidojam produktus kuriem pievienojam dažādus materiālus, lai padarītu tos noturīgākus pret laikapstākļiem,
                            vieglāk uzstādāmus, kā arī drošākus un dabai draudzīgākus.
                        </p>
                    </div>
                </div>

            </div>
        </div>
        

    </div>